@model IEnumerable<efcoreApp.Data.Ogrenci>
@{
    ViewData["Title"] = "Ögrenci Listesi";
}
<h2>Ögrenci Listesi</h2>
<hr>
<a class="btn btn-primary" asp-action="Create">Yeni Ogrenci Ekle</a>
<table class="table">                           
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.OgrenciAd)</th>
            <th>@Html.DisplayNameFor(m => m.OgrenciSoyad)</th>
            <th>Eposta</th>
            <th>Telefon</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(mmodelItem => item.OgrenciAd)</td>
                <td>@Html.DisplayFor(mmodelItem => item.OgrenciSoyad)</td>
                <td>@item.Eposta</td>
                <td>@item.Telefon</td>
                <td>
                    <a asp-controller="Ogrenci" asp-action="Edit" asp-route-id="@item.OgrenciId" class="btn btn-primary">Düzenle</a>
                    <a asp-controller="Ogrenci" asp-action="Delete" asp-route-id="@item.OgrenciId" class="btn btn-danger" asp-action="Delete">Sil</a>
                </td>
         
            </tr>

        }
    </tbody>    
</table>    